@model ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Change Password</h1>
<div class="col-md-12 col-sm-12">
    <div class="x_content">
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="field item form-group">
                <label asp-for="OldPassword" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                <div class="col-md-6 col-sm-6">
                    <input asp-for="OldPassword" class="form-control" type="password" data-validate-linked='password' required='required' />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="field item form-group">
                <label asp-for="NewPassword" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                <div class="col-md-6 col-sm-6">
                    <input asp-for="NewPassword" class="form-control" type="password" id="password1" title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character" required />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <span style="position: absolute;right:15px;top:7px;" onclick="hideshow()">
                        <i id="slash" class="fa fa-eye-slash"></i>
                        <i id="eye" class="fa fa-eye"></i>
                    </span>
                </div>
            </div>
            <div class="field item form-group">
                <label asp-for="ConfirmPassword" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                <div class="col-md-6 col-sm-6">
                    <input asp-for="ConfirmPassword" class="form-control" type="password" data-validate-linked='password' required='required' />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="ln_solid">
                <br />
                <div class="form-group">
                    <div class="col-md-6 offset-md-3">
                        <button type='submit' class="btn btn-info">Change password</button>
                        <button type='reset' class="btn btn-dark">Reset</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


@section Scripts{
    <script>
        function hideshow() {
            var password = document.getElementById("password1");
            var slash = document.getElementById("slash");
            var eye = document.getElementById("eye");

            if (password.type === 'password') {
                password.type = "text";
                slash.style.display = "block";
                eye.style.display = "none";
            }
            else {
                password.type = "password";
                slash.style.display = "none";
                eye.style.display = "block";
            }

        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}

