@model IEnumerable<Doctor>
@{
    ViewData["Title"] = "Index";
}

@section Styles{
    <partial name="_DataTableStylesheet" />
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Doctors</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="doctors" class="table table-striped no-margin">
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th>Phone </th>
                            <th>Specialization </th>
                            <th>Status</th>
                            <th>Account Status</th>
                            <th><a asp-controller="Account" asp-action="RegisterDoctor" class="btn btn-success btn-sm"><i class="fa fa-edit"></i>Add</a></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name </td>
                            <td>@item.Phone</td>
                            <td>@item.Specialization.Name</td>
                            <td>
                                @if (item.IsAvailable == true)
                                {
                                    <h2> <span class="badge badge-success">Available</span></h2>
                                }
                                else
                                {
                                    <h2> <span class="badge badge-danger">Closed</span></h2>
                                }
                            </td>
                            <td>
                                @if ((bool)item.Physician.IsActive)
                                {
                                    <h2> <span class="badge badge-success">Active</span></h2>
                                }
                                else
                                {
                                    <h2> <span class="badge badge-danger">locked</span></h2>
                                }
                            </td>
                            <td>
                                <a asp-controller="Doctors" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="fa fa-folder"></i> Details</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_DataTableScript" />
    <script>
        $(document).ready(function () {
            $("#doctors").DataTable();
        });</script>
}

