@model AppointmentFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Edit Appointment </h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form asp-controller="Appointments" asp-action="Edit" method="post" class="form-horizontal form-label-left">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Patient" type="hidden" />
                    <div class="field item form-group">
                        <label asp-for="Doctor" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                        <div class="col-md-6 col-sm-6">
                            <select asp-for="Doctor" asp-items="(SelectList)ViewBag.DoctorsList" class="form-control">
                                <option value="">Select one</option>
                            </select>
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="field item form-group">
                        <label asp-for="Date" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="Date" class="form-control date " />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="field item form-group">
                        <label asp-for="Time" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                        <div class="col-md-6 col-sm-6">
                            <input asp-for="Time" class="form-control time" />
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="field item form-group">
                        <label asp-for="Detail" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                        <div class="col-md-6 col-sm-6">
                            <textarea asp-for="Detail" class="form-control"></textarea>
                            <span asp-validation-for="Detail" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="field item form-group">
                        <label class="col-form-label col-md-3 col-sm-3  label-align">Status</label>
                        <div class="col-md-6 col-sm-6 radio">
                            <label>
                                <input asp-for="Status" type="radio" value="true" class="flat" /> Approved
                            </label>
                            <label>
                                <input asp-for="Status" type="radio" value="false" class="flat" /> Pending
                            </label>
                        </div>
                    </div>

                    <div class="ln_solid">
                        <br />
                        <div class="form-group">
                            <div class="col-md-6 offset-md-3">
                                <a asp-controller="Appointments" asp-action="Index"  class="btn btn-light">Back</a>
                                <button type='submit' class="btn btn-info">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('.date').datepicker({
            minDate: 0,
            format: "dd/mm/yyyy",
            todayHighlight: true,
            clearBtn: true,
            orientation: "bottom left",
            autoclose: true
        });
        $('.time').clockpicker({
            placement: 'bottom',
            align: 'left',
            donetext: 'Done',
            twentyfourhour: true
        });


        jQuery.validator.methods.date = function (value, element) {
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
            if (isChrome) {
                var d = new Date();
                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            } else {
                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            }
        };</script>
}

