@model AttendanceFormViewModel
@{
    ViewData["Title"] = "AttendanceForm";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Add Attendances</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form asp-controller="Attendances" asp-action="Create" method="post" class="form-horizontal form-label-left">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Patient" type="hidden" />
                    @*<input asp-for="Diagnosis" type="hidden" />*@

                    <div class="field item form-group">
                        <label asp-for="ClinicRemarks" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                        <div class="col-md-6 col-sm-6">
                            <textarea asp-for="ClinicRemarks" class="form-control col-md-7 col-xs-12" rows="5"></textarea>
                            <span asp-validation-for="ClinicRemarks" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field item form-group">
                        <label asp-for="Diagnosis" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                        <div class="col-md-6 col-sm-6">
                            <textarea asp-for="Diagnosis" class="form-control col-md-7 col-xs-12" rows="5"></textarea>
                            <span asp-validation-for="Diagnosis" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="field item form-group">
                        <label asp-for="Therapy" class="col-form-label col-md-3 col-sm-3  label-align"></label>
                        <div class="col-md-6 col-sm-6">
                            <textarea asp-for="Therapy" class="form-control col-md-7 col-xs-12" rows="5"></textarea>
                            <span asp-validation-for="Therapy" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="ln_solid">
                        <br />
                        <div class="form-group">
                            <div class="col-md-6 offset-md-3">
                                <button type='submit' class="btn btn-outline-info">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

