@{
    ViewData["Title"] = "Home Page";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="x_content">
                        <div class="row">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="count">1</div>

                                    <h3>Total Patient</h3>
                                    <p class="count_bottom"><i class="green todayspatients"> </i> Added From Today</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-check-square-o"></i>
                                    </div>
                                    <div class="count">1</div>

                                    <h3>Total Appointments</h3>
                                    <p class="count_bottom"><i class="green todaysappointments"> </i>  For Today</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="count">1</div>
                                    <h3>Total Doctors</h3>
                                    <p class="count_bottom"><i class="green availabledoctors"> </i> Doctors Available</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
                                <div class="tile-stats">
                                    <div class="icon">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="count">1</div>
                                    <h3>Total Users</h3>
                                    <p class="count_bottom"><i class="green activeaccounts"> </i> Active Accounts</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->
