<ul class="nav side-menu">
    <li>
        <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home <span></span></a>
    </li>
    <li>
        <a asp-controller="Doctors" asp-action="DoctorProfile"><i class="fa fa-edit"></i> Profile <span></span></a>
    </li>
</ul>
